/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/roboto-v30-latin-regular.woff2') format('woff2');
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/src/assets/fonts/roboto-v30-latin-500.woff2') format('woff2');
}